#viewBox{
    border: 1px solid black;
    background-color: white;
    position: absolute;
    width: 500px;
    top:15vh;
    left: 37vw;
    padding: 20px;
    border-radius: 20px;
    display: none;
}
#viewBox > button{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}